@media (min-width: 992px) {
	.cartStyle {
		order: 3;
	}
}

.btn {
	margin: 10px;
}
.btn-count {
	color: black;
	background-color: rgb(228, 94, 94);
	border-radius: 50px;
	width: 22px;
	height: 20px;
	position: relative;
	bottom: -15px;
	font-size: 15px;
	text-align: center;
}
