@media (min-width: 992px) {
	.cartStyle {
		order: 3;
	}
}

.btn {
	margin: 0;
	border: none;
	color: #b8b8b8;
}
.btn:hover {
	background-color: transparent;
}

.myLink {
	text-decoration: none;
	position: relative;
}

.btn-count {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 50px;
	width: 19px;
	height: 19px;
	right: 1px;
	bottom: 10px;
	position: absolute;
	font-size: 15px;
	text-align: center;
}
