.navbar-collapse {
	flex-grow: 0;
}
.nav-link {
	text-align: center;
	color: #c6c6c6;
}

.nav-link:hover {
	color: #ffffff;
}

@media (min-width: 992px) {
	.navbar-brand {
		order: 2;
	}
}

.navbar-nav-scroll {
	overflow-x: hidden;
}
